@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: none;
  background-color: var(--bg-color);
  color: var(--text-color);
}
body{
background: url('./assets/images/bg-mobile-light.jpg') no-repeat center center fixed;
transition: background-color 0.3s, color 0.3s;
margin: 0;
height: 100%;
display: flex;
justify-content: center;
}


button {
  background: none;
  border: none;
  color: inherit;
  }

.todoTitle {
  display: flex;
  flex-direction: column;
  justify-content:left;
  }


  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

.title {
  display: flex;
  align-items: center;
  justify-content:space-between;
  gap: 10px;
  margin-bottom: 25px;
  color: var(--text-color);
}

h1 {
  font-size: 24px;
  font-weight: 600;
}
