
.todoList {
  display: flex;
  align-items: center;
  gap: 10px; 
  border-bottom: 0.25px solid #999999;
  margin-top: 10px;
  width: 400px;
  margin-left:21px;
  margin-right:21px;
}

.listTodos{
  border:1px solid #4d22b2;
  
  width: 400px;
  padding-left: 0;
}

.todoList:last-child {
  border-bottom: none;
}

.addTodo {
  padding-left: 0;
}

.todoCheck {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius:50%;
  border: 1px solid #adadad;
  height:20px;
  width: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 21px;
  padding:0;
  box-sizing: border-box;
  line-height:0;
  font-size:0;
  flex-shrink: 0;
}

.added-todos {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #4d22b2;
  margin-top: 10px;
  border-radius: 3px;
  width: 400px;
  align-items: center;
  margin-left: 0;
  overflow-x: hidden;
}

.todoBox {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 50px;
  align-items: center;
  margin-left:10px;
}

.todoCheck:checked::after {
  content: "\2713";
  border-radius: 50%;
  background: linear-gradient(125deg, #18A8A4, #be38f3);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #ffffff;
}




.todoRow {
  display: flex;
  flex-direction: row;
}

.bottomMenu {
  display: flex;
    flex-direction: row;
    align-items: center;
    width:400px;
    justify-content: space-evenly;
    align-content: center;
}
