.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
}


  .filter li{
    font-size:  14px;
    font-weight: 400;
    padding-left: 5px;
    color:hsl(234, 11%, 52%);
  }
  
  .filter li:hover{
     color: hsl(220, 98%, 61%);
  }